/* topbar */
.nav-item:not(:first-child) {
  margin-left:25px;
}
.navbar-brand {
  font-size: 0.8em;
}

/*styles*/
.bg-dark {
  color:#fff;
}
.bg-light {
  background-color: #eaeaea !important;
}

.btn {
  padding-left: 1%;
  padding-right: 1%;
  border-radius: .50rem;
}
.btn:not(:first-child) {
  margin-left: 10px;
}
.btn-secondary {
  background-color:#4a4d51;
  border-color:#4a4d51;
}

.tile {
  border-left: #ff2424 2px solid;
}
.tile .value {
  font-size: 1.5em;
}
.tile .label {
  font-size: 0.8;
  color: #c0c0c0;
}

.card:not(:first-child){
  margin-top: 5px;
}
.card-header {
  background-color: rgba(0, 0, 0, 0);
}

/*col*/
.col-3{
  padding-right: 5px;
  padding-left: 5px;
}